* {
    margin: 0;
    padding: 0
}

fieldset,
img {
    border: 0
}

img {
    display: block
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal
}

ul,
ol {
    list-style: none
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体"
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

select,
input {
    vertical-align: middle
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0
}

input[type="text"],
input[type="password"],
textarea {
    outline-style: none;
    -webkit-appearance: none
}

textarea {
    resize: none
}

table {
    border-collapse: collapse
}

body {
    color: #333;
    font: 12px/20px "SimSun", "宋体", "Arial Narrow", HELVETICA;
    background: #fff;
}

.f-center {
    text-align: center;
}

header {
    height: 40vh;
    background: #05dee6;
    position: relative;
}

main {
    height: 60vh;
    background: hsl(160, 80%, 50%);
}

h1:before {
    content: "";
    color: red;
    background: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -10px;
    top: -10px;
}

h1::after {
    content: "";
    color: red;
    background: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
}

h1 {
    color: #000;
    font-size: 5em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 1px 0px #fff, 1px 2px 0px rgb(240, 238, 238), 2px 3px 0px rgb(224, 219, 219);
    margin: 20px;
}